<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File"
            name="defaultSampleFile"
            fileName="${basedir}/App_Data/logs/default-sample-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
            createDirs="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="defaultSampleFile" />
  </rules>
</nlog>
